---
title: Home
h1: 'Welcome to Skid Row,'
subH1: 'New York'
---
<div class="jumbotron">
  <p>This is a collection of content based around a particular <em>Ratkin Chronicle</em> set in New York. This is <strong>not real life</strong>, nor is anything in it real. Any likeness to real-world people or instances are coincidence.</p>
</div>

## Organization of Site

## Development

For pre-developed components (preferrable to new ones) go to [Bootstrap Components](http://getbootstrap.com/components)

This site is built on [Assemble](http://assemble.io) and [Grunt JS](http://gruntjs.com).

To run a server `grunt server`. To build the site `grunt build`.
